{% extends 'base.html' %}
{% block title %}INICIO{% endblock %}

{% block content%}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Acerca de OnlyFlans</h1>
            <p class="lead">Bienvenido a OnlyFlans, donde nos especializamos en los mejores flanes del mundo.</p>
            <p>OnlyFlans es una empresa dedicada a la creación y distribución de flanes gourmet. Fundada en 2023, nuestra misión es endulzar la vida de nuestros clientes con flanes deliciosos y únicos, hechos con los ingredientes más frescos y de la más alta calidad.</p>
            <p>En OnlyFlans, creemos que cada bocado debe ser una experiencia inolvidable. Nos esforzamos por innovar en nuestras recetas, ofreciendo una variedad de sabores que van desde los clásicos hasta combinaciones exóticas. Nuestro equipo de expertos reposteros trabaja diligentemente para asegurarse de que cada flan que sale de nuestra cocina cumpla con los más altos estándares de sabor y presentación.</p>
            <p>Nuestra visión es ser reconocidos como la marca número uno en flanes a nivel mundial, destacándonos por nuestra calidad, sabor y creatividad. A través de nuestro compromiso con la excelencia y el servicio al cliente, esperamos llevar la alegría de nuestros flanes a hogares y eventos en todo el mundo.</p>
            <p>¡Gracias por elegir OnlyFlans! Esperamos que disfrutes de nuestros productos tanto como nosotros disfrutamos creándolos para ti.</p>
        </div>
    </div>
</div>
{% endblock %}