{% include  'header.html' %}
{% include  'nav.html' %}

{% if messages %}
<!-- En caso de detectar un mensaje proveniente de django genera un modal con el mensaje -->
<div class="container">
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Mensaje</h5>
                </div>
                <div class="modal-body">
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close" data-dismiss="modal" onclick="Cerrarmodal()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#logoutModal').modal('show');
    });
    function Cerrarmodal(){
        $('#logoutModal').modal('hide');
    }
</script>
{% endif %}
<main class="container">
    {% block content %}{% endblock %}
</main>


{% include  'footer.html' %}
